/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
	overflow-x: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}








:root {
    --primary-color: #FF6874;
    --secondary-color: #2BC4A9;
    --tertiary-color: #9F9FFF;
    --quaternary-color: #FFFF9F;
    --black-color: black;
    --grey-color: grey;
    --size-0: 0.61rem;
	--size-1: 1rem;
	--size-2: 1.6rem;
	--size-3: 2.59rem;
	--size-4: 4.1rem;
	--size-5: 6.64rem;
	--size-6: 10.7rem;
}

body {
	margin: 0;
	background-color: var(--black-color);
	color: var(--grey-color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--size-1);
	line-height: var(--size-2);
	overscroll-behavior: none;
}

html {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 300;
}

body {
	font-family: sans-serif, arial, helvetica;
	line-height: 1.7;
}

main {
	font-size: var(--size-1);
}

h1 {
	font-size: var(--size-3);
	font-weight: var(--negrita);
	line-height: 1.2;
}
@media screen and (max-width: 500px) {
	h1 {
		/* color: var(--primary-color); */
		/* font-weight: 500; */
	}
}

h2,
h3 {
	font-size: var(--size-2);
}

dt {
	font-weight: var(--negrita);
}

small {
	font-size: var(--size-0);
}


aside svg {
	width: var(--size-2);
}
h1 {
    color: var(--primary-color);
}

a {
	color: var(--tertiary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}

.p-0 {
	padding: 0;
}
.p-4 {
	padding: var(--size-4);
}

.p-5 {
	padding: var(--size-5);
}

.pt-2 {
	padding-top: var(--size-2);
}

.pt-3 {
	padding-top: var(--size-3);
}

.pl-2 {
	padding-left: var(--size-2);
}

.pr-2 {
	padding-right: var(--size-2);
}

.pr-4 {
	padding-right: var(--size-4);
}

.pb-3 {
	padding-bottom: var(--size-3);
}

.pb-4 {
	padding-bottom: var(--size-4);
}

.pt-4 {
	padding-top: var(--size-4);
}

.pt-5 {
	padding-top: var(--size-5);
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: var(--primary-color);
	margin-top: 20px;
	padding: 10px;
}